################################################################################
# Bu .gitignore dosyası Microsoft(R) Visual Studio tarafından otomatik olarak oluşturulmuştur.
################################################################################

/obj/Debug
/.vs/EditedPreload/v16/Server/sqlite3
